@import "user_dash.css";

.forum-intro {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10%;
}

.forum-title {
    text-align: center;
	color: #53d9d1; 
    font-family: 'Bungee', cursive;
    display: flex;
    top: 30%; 
    transform: translateY(-50%);
    margin-top: 150px;
    z-index: 1;
    padding: 10px;
    background-color:#151515;
    border-radius: 9px;
}

.forum-logo {
    width: 300px; 
    height: 300px; 
    padding-bottom: 100px;
}
