/* User Sidebar styling */
.user-sidebar-trigger{
    font-family:inherit;
    color: #eb7132;
    right: 1%;
    position: fixed; /* Ensure trigger is positioned relative to the viewport */
    top: 15%; /* Position it in the middle vertically (adjust as needed) */
    z-index: 2; /* Ensure it's above most other content */
}

.user-sidebar-trigger img {
    display: block; /* Ensure the image is a block element to apply width and height correctly */
    max-width: 100px; /* Adjust as needed */
    height: auto; /* Maintain aspect ratio */
    opacity: 0.75; /* Make the image slightly opaque */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Shadow matching background color */
    transition: opacity 0.3s, transform 0.3s; /* Smooth transitions for hover effects */
}

.user-sidebar {
    width: 0%;
    display: flex;
    flex-direction: column;
    background-color: #151515;
    overflow-x: hidden;
    transition: width 0.5s ease;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    z-index: 1;
    opacity: 0.75;
}

.user-sidebar.expanded {
    width: 15%; /* Or whatever width you prefer */
    background-color: #151515;
    overflow-x: hidden;
    transition: width 0.5s ease;
    position: fixed;
    height: 100%;
    z-index: 1;
    right: 0;
    top: 0;
    opacity: 0.75;
}

.user-sidebar p {
    color: #fff;
    font-family: "Bungee", cursive;
}

.user-sidebar h2 {
    color: #fff;
    font-family: "Bungee", cursive;
    position: center;
    text-align: center; /* Center the title */
    width: 100%; /* Ensure the title spans the full width of its container */
}

.user-sidebar ul {
    list-style: none;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
}

.user-sidebar ul li {
    padding: 10px 17%;
    color: #eb7132;
    cursor: pointer;
}

.user-sidebar ul li:hover {
    background-color: #eb7132;
    color: #151515;
}

.user-info{
  text-align: center;
}