{{define "content"}}
<link rel="stylesheet" href="/static/css/home.css">
<div class="forum-intro">
    <h1 class="forum-title">Literary Lions Forum</h1>
    <div class="forum-logo-container">
        <img src="/static/img/home_logo.png" alt="Literary Lions Forum Logo" class="forum-logo">
    </div>
</div>
{{end}}