<!DOCTYPE html>
<html lang="en" >
<head>
  <script src="/static/js/global.js"></script>
  <meta charset="UTF-8">
  <title>Oops.. internal error..</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet"><link rel="stylesheet" href="/static/css/oops.css">

</head>
<body>
<!-- partial:index.partial.html -->
<h5>Internal Server error !</h5>
    <h1>5</h1>
    <h1>00</h1>
    <div class="box">
			<span></span><span></span>
			<span></span><span></span>
			<span></span>
		</div>
    <div class="box">
			<span></span><span></span>
			<span></span><span></span>
			<span></span>
		</div>
    <p> {{if .Msg}}{{ .Msg}}{{else}}We're unable to find out what's happening! We suggest you to{{end}}
			<br/>
			<a href="/home">Go Back</a>
			or visit here later.</p>
<!-- partial -->
  
</body>
</html>
