{{define "content"}}
<link rel="stylesheet" href="/static/css/profile.css">
<h1 class="profile-title">Your profile!</h1>
<div class="profile-container">
    {{template "profile-settings" .}}
        {{template "profile-base-public" .}}
</div>
<script src="/static/js/profile.js"></script>
{{end}}